@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800,800i&display=swap');

.text-group {
	font-family: Montserrat;
	font-style: italic;
	font-weight: 800;
	font-size: 64px;
	line-height: 78px;
	color: #FFFFFF;
}

.columngroup {
	background: #FFFFFF;
	border-radius: 20px;
	height: 100%;
}

.link-photo {
	background: #F2F2F2;
	border-radius: 20px;
	height: 64px;
}

.link-photo img {
	display: block;
	padding: 13px; 
	height: 65px;
	width: 65px;
}

.lol img {
	width: 45px;
	height: 45px;
}

.userinf{
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: Montserrat;
	font-size: 20px;
}

.invlink{
	padding: 5px;
	font-family: Montserrat;
	background-color: rgb(177, 177, 177);
}

.nameg{
	padding:5px;
	font-family: Montserrat;
	font-size: 32px;
}