.text-group {
	font-family: Montserrat;
	font-style: italic;
	font-weight: 800;
	font-size: 64px;
	line-height: 78px;
	color: #FFFFFF;
}

.groups {
	background: #FFFFFF;
	border-radius: 20px;
	height: 644px;
}

.link-photo {
	background: #F2F2F2;
	border-radius: 20px;
	height: 64px;
}

.link-photo img {
	display: block;
	padding: 13px; 
	height: 65px;
	width: 65px;
}

.lol img {
	width: 45px;
	height: 45px;
}