@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800,800i&display=swap');

.text-group {
	font-family: Montserrat;
	font-style: italic;
	font-weight: 800;
	font-size: 64px;
	line-height: 78px;
	color: #FFFFFF;
}

.columngroup {
	background: #FFFFFF;
	border-radius: 10px;
	height: 100%;
}

.link-photo {
	background: #F2F2F2;
	border-radius: 20px;
	height: 64px;
}

.link-photo img {
	display: block;
	padding: 13px; 
	height: 65px;
	width: 65px;
}

.lol img {
	width: 45px;
	height: 45px;
}

.userinf{
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: Montserrat;
	font-size: 20px;
}

.invlink{
	padding: 5px;
	font-family: Montserrat;
	background-color: rgb(177, 177, 177);
}

.nameg{
	padding:5px;
	font-family: Montserrat;
	font-size: 32px;
}

.crtit{
	display: flex;
	justify-content: start;

}

.a:active,
.a:hover,  
.a {
  text-decoration: none;
  color: #fff;
}

#submit{
	border:0;
	background-color: #90A2FF;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 3px;
}
#submit:hover{
	border:0;
	background-color: #5873FF;
	color: white;
	transition-duration: 0.2s;
}

#name{
	padding:10px;
	width: 100%;
	height:40px;
	border-radius: 10px;
	border-style: none;
	background-color: #C4C4C4;
}

.modal-content{
	background-color: #404040;
}

.modal-title{
	color: white;
	font-weight: 700;
}

.modal-text{
	color: white;
}

.groups{
	margin-top: 20px;
}

#name:focus, input:focus{
    outline: none;
    }