.text-group {
	font-family: Montserrat;
	font-style: italic;
	font-weight: 800;
	font-size: 64px;
	line-height: 78px;
}

.groups {
	background: #FFFFFF;
	border-radius: 20px;
	height: 644px;
}

.link {
	background: #F2F2F2;
	border-radius: 20px;
	height: 64px;
}

img {
	margin-left: auto;
    margin-right: auto;
    display: block;
}