svg{
	margin: 20px;
}



.photo img {
	width: 30px;
	height: 30px;
}

.photo img:hover {
	color: grey;
}

.day, .day-v {
	height: 220px;
	left: 146px;
	top: 294px;
	margin: 10px 0;
	background: #F2F2F2;
	border-radius: 15px;
}
.data {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 44px;
	color: #F2F2F2;
	padding: 20px 0 0 10px;
}

.zadacha {
	height: 20px;
	padding: 35px 0 0 0;
	background-color: grey;
}
.zadacha-txt {
	font-family: Montserrat;
	font-size: 16px;
	line-height: 20px;
	margin: 0 10px 0 10px;
}

.day-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 58px;
	line-height: 78px;
	color: #F2F2F2;
}

.week-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 22px;
	color: #FEFEFE;
	margin-left: 20px;
}

.knopka {	
	-moz-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
				-webkit-user-select: none;
				user-select: none;
	height: 51px;
	background: #F2F2F2;
	border-radius: 50px;
	font-family: Montserrat;
	text-align: center;
	font-size: 20px;
	padding: 12px;
	line-height: 22px;
	color: #000000;
}
.knopka:hover {
	border: 2px solid #404040;
	background-color: #cacaca;

}

#submit {
	border:0;
	background-color: #90A2FF;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 3px;
}

#submit:hover{
	border:0;
	background-color: #5873FF;
	color: white;
	transition-duration: 0.2s;
}


.modal-title {
	color: white;
	font-weight: 400;
}
#modal-body {
	color: white;
}
.modal-content {
	background-color: #404040;
	border-radius: 10px;
}
#exampleModal {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 3px;
}
#modal-dialog {
	border-radius: 3px;
}

#group_name, #value ,#expiration_date, #title{
	padding:10px;
	width: 100%;
	height:40px;
	border-radius: 10px;
	border-style: none;
	background-color: #C4C4C4;

}
#label{
	color:black;
	font-weight: 400;

}