@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800,800i&display=swap');

html {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.bodyc{
    display: flex;
    margin-top: 60px;
}

body{
    background-color: #404040;
}

.remind{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #91A2FF;
}

.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 37px;
}
.login:hover,
.login:active,
.login{
    width: 200px;
    height: 50px;
    border: 3px solid #91A2FF;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0);
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #F2F2F2;
    margin-left: 27px;
    text-decoration: none;
}
.login:hover{
    background-color: #91A2FF;
    transition-duration: 0.2s;
}

#submit{
    width: 150px;
    height: 50px;
    background-color: #91A2FF;
    border: 1px solid #91A2FF;
    box-sizing: border-box;
    border-radius: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    color: #FFFFFF;
}

#submit:hover{
    background-color: rgb(114, 127, 201);
    border: 1px solid rgb(114, 127, 201);
    transition-duration: 0.2s;
}

.email{
    margin-top: 26px;
}

.name{
    margin-top: 26px;
}

.password, .password2{
    margin-top: 26px;
}

.regli{
    margin-top: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

#email{
    height: 70%;
    width: 70%;
    background: #C4C4C4;
    border-radius: 20px;
    border-style: none;
    padding: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: rgb(0, 0, 0);
}

#name{
    height: 70%;
    width: 70%;
    background: #C4C4C4;
    border-radius: 20px;
    border-style: none;
    padding: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: rgb(0, 0, 0);
}

#email:focus, input:focus{
    outline: none;
    }

#password, #password2{
    height: 70%;
    width: 70%;
    background: #C4C4C4;
    border-radius: 20px;
    border-style: none;
    padding: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: rgb(0, 0, 0);
}

.description{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    margin-top: 100px;
    font-size: 27px;
    line-height: 44px;
    color: #F2F2F2;
}